* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility */
main {
  margin: auto;
  width: 1000px;
}

header {
  text-align: center;
}
.container {
  max-width: 1000px;
  margin-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  /* classi di debug
  border: 5px solid black; */
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #e53170;
  margin-top: 20px;
  font-family: "Bagel Fat One", cursive;
}
.card {
  width: calc(100% / 3 - 30px);
  height: 100px;
  background-color: black;
  color: white;
  float: left;
  margin: 15px;
}
span {
  display: block;
}

img {
  float: left;
  max-height: 100%;
  margin-right: 30px;
}

text h3,
span,
address {
  margin: 15px 5px;
  text-align: left;
}

address {
  color: aqua;
}

.lorem {
  text-align: center;
}

a {
  color: rgb(0, 128, 255);
  text-decoration: none;
}

.container,
p {
  margin-top: 80px;
}
p {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
